name: Lint

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  # Concurrency group that uses the workflow name and PR number if available
  # or commit SHA as a fallback. If a new build is triggered under that
  # concurrency group while a previous build is running it will be canceled.
  # Repeated pushes to a PR will cancel all previous builds, while multiple
  # merges to main will not cancel.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        env:
          # renovate: datasource=github-releases depName=prefix-dev/pixi
          PIXI_VERSION: v0.59.0
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cache/pre-commit
          key: pre-commit|${{ runner.arch }}-${{ hashFiles('.pre-commit-config.yaml', 'pixi.lock') }}
      - name: Run
        run: pixi run pre-commit
